/* public */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.flex {
    display: flex;
}

.flex-container {
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
    height: 50px;
}

a {
    text-decoration: none;
}


/* navbar */

.navbar {
    background-color: gray;
}

.list {
    margin-left: auto;
}

.list ul {
    display: flex;
    list-style-type: none;
    padding: 20px;
}

.list ul li {
    text-decoration: none;
    margin-right: 15px;
    text-transform: uppercase;
}

.list a {
    color: white;
}


/* portfolio */

.portfolio {
    background-color: khaki;
    text-align: center;
}

.portfolio-items-container {
    justify-content: space-between;
}

.portfolio-item {
    width: 350px;
    margin-bottom: 10px;
}

.portfolio img {
    display: block;
    width: 100%;
}

.portfolio p {
    text-decoration: dashed;
    color: aqua;
}

.containerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}